# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Django local database
db.sqlite3

# Media and static files
media/
staticfiles/

# Pipenv
Pipfile.lock

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
